<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"> 
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - Photo24</title>
</head>

<style>body{ padding-bottom: 70px; }</style>

<div class="container">

<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <a class="navbar-brand" href="{{ url_for('browse')}}">Photo24</a>
            <li><a href="{{ url_for('user')}}">User</a></li>
            <li><a href="{{ url_for('login')}}">Login</a></li>
            <li><a href="{{ url_for('register')}}">Register</a></li>
        </ul>
    </div>
</div>

<div class="container">
{% block body %}{% endblock %}
</div>

<div class="navbar navbar-fixed-bottom">
    <div class="container">
        <p class="text-center">
            <a href="{{ url_for('browse')}}">Browse</a>
            <a href="{{ url_for('user')}}">User</a>
            <a href="{{ url_for('login')}}">Login</a>
            <a href="{{ url_for('register')}}">Register</a>
            &copy; 2014 Jake Pittis
        </p>
    </div>
</div>

</div>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</html>
