<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"> 
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Budget</title>
</head>

<style>body{ padding-bottom: 70px; }</style>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Day</h2>
                <p>{{ today }}</p>
                <h3><span class="label label-danger">Spent</span> {{ delta[0] }}</h3>
                <h3><span class="label label-danger">Current Funds</span> {{ diff[0] }}</h3>
                <h3><span class="label label-success">Budget</span> {{ budget[0] }}</h3>
            </div>
            <div class="col-md-4">
                <h2>Week</h2>
                <p>Day {{ weekDayNumber }} of 7</p>
                <h3><span class="label label-danger">Spent</span> {{ delta[1] }}</h3>
                <h3><span class="label label-danger">Current Funds</span> {{ diff[1] }}</h3>
                <h3><span class="label label-success">Budget</span> {{ budget[1] }}</h3>
            </div>
            <div class="col-md-4">
                <h2>Month</h2>
                <p>Day {{ monthDayNumber }} of {{ daysInMonth }}</p>
                <h3><span class="label label-danger">Spent</span> {{ delta[2] }}</h3>
                <h3><span class="label label-danger">Current Funds</span> {{ diff[2] }}</h3>
                <h3><span class="label label-success">Budget</span> {{ budget[2] }}</h3>
            </div>
        </div>
        <form method = post action="/" role="form">
            <div class="form-group">
            <br>
            <br>
            <div class="row">
                <div class="col-md-1">{{ form.withdraw.label }}</div>
                <div class="col-md-1">{{ form.withdraw(size=10) }}</div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-md-1">{{ form.deposit.label }}</div>
                <div class="col-md-1">{{ form.deposit(size=10) }}</div>
            </div>
            <br>
            <br>
            <input type="submit" class="btn btn-primary" value="Update" style="text-align: center">
        </div>
        </form>

            <div class="navbar navbar-fixed-bottom">
                <div class="container">
                    <p class="text-center">
                        &copy; 2014 Jake Pittis
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</body>
</html>
